.site-layout {
  display: grid;
  grid-template-areas:
    "header"
    "article"
    "footer";
  grid-template-rows: minmax(50px, 5vh) minmax(90vh, 1fr) minmax(50px, 5vh);
  grid-row-gap: 25px;
}

footer {
  grid-area: footer;
}

header {
  grid-area: header;
  position: fixed;
  top: 0;
}

.container {
  grid-area: article;
  position: relative;
}
